/************************************/
/*****        01. Global css         ****/
/************************************/

html,
body {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	background-color: #FCFEFE;
}

* {
	margin: 0;
	padding: 0;
	font-family: $primary-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

a:hover,
a {
	text-decoration: none;
	outline: 0;
	
}

a:focus {
	text-decoration: none;
	outline: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

figure.wp-block-image {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

button:focus,
input:focus,
img:focus,
.slick-slide:focus,
textarea:focus,
input:focus {
	outline: none;
}

.section-padding {
	padding: 64px 0px;

	@include max-767 {
		padding: 56px 0px;
	}

	@include max-575 {
		padding: 48px 0px;
	}
}

.common-padding {
	padding: 96px 0px;

	@include max-1199 {
		padding: 70px 0px;
	}

	@include max-991 {
		padding: 50px 0px;
	}

	@include max-767 {
		padding: 40px 0px;
	}

	@include max-575 {
		padding: 25px 0px 50px;
	}
}

.section-padding-rl-0 {
	padding-right: 0;
	padding-left: 0;
}

.section-pt-0 {
	padding-top: 0;
}

.section-pb-0 {
	padding-bottom: 0;
}

.d-none {
	display: none;
}

.p-0 {
	padding: 0 !important;
}


.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;

    @include min-576 {
		max-width: 540px;
	}

    @include min-768 {
		max-width: 720px;
	}

    @include min-992 {
		max-width: 960px;
	}

    @include min-1200 {
		max-width: 1140px;
	}

    @include min-1400 {
		max-width: 1320px;
	}

	@include max-575 {
		padding: 0 14px;
	}
}

h2 {
	font-family: $secondary-family;
	font-size: 32px;
	font-weight: 400;
	line-height: 42px;
	text-align: center;
	color: $primary-color;

	@include max-767 {
		font-size: 28px;
		line-height: 36px;
	}

	@include max-575 {
		font-size: 24px;
		line-height: 32px;
	}

}

.description-primary {
	font-family: $primary-family;
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;

	@include min-1400 {
		font-size: 20px;
		line-height: 28px;
	}

	@include max-575 {
		font-size: 16px;
		line-height: 22px;
	}
}

.description-secondary {
	font-family: $primary-family;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;

	@include min-1400 {
		font-size: 18px;
		line-height: 26px;
	}

	@include max-575 {
		font-size: 16px;
		line-height: 22px;
	}

	@include max-425 {
		font-size: 14px;
		line-height: 20px;
	}
}

.section-subtitle {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 8px;
	color: $secondary-color;

	@include max-575 {
		margin-bottom: 4px;
		letter-spacing: 1px;
		text-align: center;
	}
}

.global-button {
	width: fit-content;
	font-family: $primary-family;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	padding: 13px 35px;
	background-color: $accent-color;
	color: $primary-color;
	border-radius: 50px;
	transition: all 0.3s ease;

	&:hover {
		background-color: $color-white;
	}

	@include min-1400 {
		font-size: 18px;
		line-height: 24px;
	}

	@include max-767 {
		padding: 10px 30px;
		font-size: 14px;
		line-height: 20px;
	}
}


.breadcrumb {

	&__img {
		position: relative;
		width: 100%;
		overflow: hidden;

		&-bg {
			@include max-991 {
				min-height: 220px;
			}

			@include max-575 {
				min-height: 190px;
			}

			@include max-425 {
				min-height: 160px;
			}
		}
	}

	&__overlay {
		position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 1;
	}

	&__gradient-secondary {
		position: absolute;
        top: -75px;
        left: -60px;
        width: 150px;
        height: 150px;
        background: rgba(21, 158, 236, 0.3);
        z-index: 1;
		border-radius: 50%;

		@include max-767 {
			top: -90px;
		}
	}

	&__gradient-primary {
		position: absolute;
        bottom: -60px;
        right: -40px;
        width: 170px;
        height: 170px;
        background: rgba(191, 210, 248, 0.3);
        z-index: 1;
		border-radius: 50%;

		@include max-767 {
			bottom: -70px;
		}
	}

	&__border {
		width: 100%;
		position: absolute;
		bottom: -5px;
		z-index: 3;

		@include max-991 {
			bottom: 0;
		}
	}

	&__content-container {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		.container {
			height: 100%;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
		height: 100%;
		padding: 85px 0 110px;

		@include max-1199 {
			padding: 60px 0 80px;
		}

		@include max-991 {
			padding: 70px 0 0;
		}

		@include max-425 {
			padding: 40px 0 0;
		}

		ul {
			display: flex;
			flex-direction: row;
			gap: 5px;

			.description-primary {
				color: $primary-color;
			}

			@include max-575 {
				justify-content: center;
				align-items: center;
			}
		}

		h1 {
			font-family: $secondary-family;
			font-size: 32px;
			font-weight: 400; 
			line-height: 42px;
			text-align: start;
			color: $primary-color;

			@include min-1400 {
				font-size: 48px;
			}

			@include max-767 {
				font-size: 28px;
				line-height: 36px;
			}

			@include max-575 {
				font-size: 24px;
				line-height: 32px;
				text-align: center;
			}
		}
	}
}