.about-welcome {
    position: relative;

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include max-767 {
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        &-container {
            width: 56%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 24px;
            padding-left: 20px;

            @include max-991 {
                width: 65%;
            }

            @include max-767 {
                width: 100%;
                padding-left: 0;
            }

            h2 {
                font-family: $secondary-family;
                text-align: start;

                @include min-1400 {
                    max-width: 80%;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 58px;
                }
            }
        }
    }

    &__image {
        width: 44%;
        position: sticky;
        top: 30px;
        height: fit-content;
        text-align: center;

        @include max-767 {
            position: static;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        @include max-991 {
            width: 35%;
        }

        @include max-767 {
            width: 100%;
        }
    }

    &__features {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @include max-1199 {
            gap: 30px;
        }

        @include max-991 {
            gap: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;

            li {
                position: relative;
                padding-left: 30px;

                @include max-575 {
                    padding-left: 24px;
                }
            }

            li::before {
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                width: 20px;
                height: 20px;
                background-color: $secondary-color;
                border-radius: 50%;

                @include max-575 {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 12px;
    }
}