.hero {
    &__image {
        position: relative;
        overflow: hidden;

        @include max-575 {
            img {
                min-height: 230px;
                object-fit: cover;
            }
        }

        @include max-425 {
            img {
                min-height: 220px;
                object-fit: cover;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(271.53deg, rgba(229, 228, 232, 0.8) 17.97%, rgba(235, 234, 239, 0) 68.98%);
        z-index: 1;
        display: none;

        @include max-575 {
            display: block;
        }
    }

    &__content-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__container {
        padding: 190px 0;

        @include max-1199 {
            padding: 130px 0;
        }

        @include max-991 {
            padding: 100px 0;
        }

        @include max-767 {
            padding: 70px 0;
        }

        @include max-575 {
            padding: 52px 0;
        }

        @include max-425 {
            padding: 35px 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include max-991 {
            gap: 20px;
        }

        @include max-575 {
            gap: 10px;
        }

        @include max-575 {
            justify-content: center;
            align-items: center;
        }

        .global-button:hover {
            background-color: $primary-color;
            color: #FCFEFE;
        }

    }



    &__title {
        max-width: 550px;
        font-family: $secondary-family;
        font-size: 48px;
        font-weight: 400;
        line-height: 58px;
        color: $primary-color;

        @include min-1400 {
            font-size: 56px;
            line-height: 68px;
        }

        @include max-991 {
            max-width: 400px;
            font-size: 35px;
            line-height: 44px;
        }

        @include max-767 {
            max-width: 400px;
            font-size: 30px;
            line-height: 38px;
        }

        @include max-575 {
            max-width: 100%;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
        }
    }

    &__box-section {
        position: relative;
        margin-top: -52px;

        @include min-1400 {
            margin-top: -60px;
        }

        @include max-1199 {
            margin-top: -60px;
        }

        @include max-767 {
            display: none;
        }
    }

    &__box-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__box {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px 20px;
        border-radius: 5px;

        &-title {
            color: #FCFEFE;
        }

        &--primary {
            background-color: $primary-color;
        }

        &--secondary {
            background-color: $accent-color;

            .hero__box-title, 
            .hero__box-icon {
                color: $primary-color;
            }
        }

        &--third {
            background-color: $secondary-color;
        }
    }
}